@import '../../scss/variebles', '../../scss/mixins';

.pokemon {
  margin: 0 auto;
  max-width: $layout-sm;

  &__grid:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: $strip-color;
    top: -10px;
  }

  &__grid {
    position: relative;
    margin: 0 auto;
    width: 95%;
    display: grid;
    grid-auto-rows: 250px;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    grid-gap: 15px;
    font-family: $primary-font;
    min-height: 80vh;
  }

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $secondary-theme-color;
    color: $white-color;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .5s ease-in-out;

    p {
      margin-bottom: 15px;
      font-size: 1.2rem;
    }

    img {
      width: 120px;
      height: 120px;
    }

    &:focus {
      outline: none;
      background-color: $hover-color;
    }

    &:active {
      background-color: $hover-color;
    }

    &:hover {
      background-color: $hover-color;
    }

    .types {
      display: flex;
      justify-content: center;

      span {
        padding-left: 7px;
      }

      .icon {
        width: 30px;
        height: 30px;
      }
    }
  }

  .container__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    border-radius: 10px;
    padding: 15px 0 25px 0;

    .logo {
      @include logo;
      background-image: url('../../assets/icons/logo.png.png');
    }

    input {
      color: #9e9e9e;
      border: none;
      border-radius: 24px;
      font-size: 14px;
      font-weight: 400;
      padding: 10px 15px;
      width: 320px;
      background-color: $secondary-theme-color;

      &:focus {
        outline: none;
      }

      &::placeholder {
        opacity: 0.5;
        font-weight: 400;
      }
    }
  }

  .container__button {
    margin: 0 auto;
    text-align: center;
    padding: 20px;

    button {
      padding: 10px;
      border-radius: 8px;
      border: none;
      background-color: $secondary-theme-color;
      color: white;
      width: 200px;
      font-size: 15px;
      cursor: pointer;

      &:hover {
        background-color: $hover-color;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

@media only screen and (max-width: $layout-xs) {
  .container__search {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: $layout-xxs) {
  .pokemon {
    &__grid {
      width: 75%;
    }
    .container__search {
      input {
        width: 80%;

      }
    }
  }
}
