@import '../../scss/variebles', '../../scss/mixins';

.pokemon {
  background-color: #06153e;
  margin: 0 auto;

  &__grid:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #4169E1;
    top: -10px;
  }

  &__grid {
    position: relative;
    max-width: $layout-sm;
    margin: 0 auto;
    width: 95%;
    display: grid;
    grid-auto-rows: 250px;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    grid-gap: 15px;
    font-family: $secondary-font;
    min-height: 80vh;
  }

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #102464;
    color: #9e9e9e;
    border-radius: 10px;
    cursor: pointer;
    transition: all .25ms ease-in-out;
    box-shadow: 0px 6px 10px 1px rgba(36, 37, 38, 0.08);

    p {
      margin-bottom: 15px;
    }

    img {
      width: 120px;
      height: 120px;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: tomato;
      color: antiquewhite;
    }

    .types {
      display: flex;
      justify-content: center;

      span {
        padding-left: 7px;
      }

      .icon {
        width: 30px;
        height: 30px;
      }
    }
  }

  .container__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    border-radius: 10px;
    width: 68%;
    padding: 15px 6px 25px 6px;

    input {
      color: #9e9e9e;
      border: none;
      border-radius: 24px;
      font-size: 14px;
      font-weight: 400;
      padding: 10px 15px;
      width: 320px;
      background-color: #102464;

      &:focus {
        outline: none;
      }

      &::placeholder {
        opacity: 0.5;
        font-weight: 400;
      }
    }
  }

  .container__button {
    margin: 0 auto;
    text-align: center;
    padding: 20px;

    button {
      padding: 10px;
      border-radius: 8px;
      border: none;
      background-color: tomato;
      color: white;
      width: 200px;
      font-size: 15px;
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }


  }

}

