.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #EFEFBB;
  background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);
  background: linear-gradient(to right, #D4D3DD, #EFEFBB);

  h1 {
    text-align: left;
    color: darkcyan;
    letter-spacing: 3px;
  }
}
