@import '../../scss/variebles', '../../scss/mixins';

.pokemon__detail {
  .container__form {
    display: flex;
    align-items: center;
    width: 95%;
    padding-top: 10px;
    margin: 0 auto;
    max-width: 1220px;
    .logo {
      @include logo;
      background-image: url('../../assets/icons/logo.png.png');
    }
    input {
      @include input-form;
    }
  }
}


@media screen and(max-width: $layout-xs) {
 .pokemon__detail {
   .container__form {
     input {
       width: 200px;
     }
   }
 }
}

@media only screen and (max-width: $layout-xxs) {
  .pokemon__detail {
    .container__form  {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 90%;
      padding: 15px 0 10px 0;
      input {
        width: 224px;
      }
    }
  }
}
