<div class="pokemon__about">
  <div class="container">
    <div class="container__title">
      <div class="col__left">
        <img [src]="pokemon.sprites" alt="{{pokemon?.name}}">
      </div>
      <div class="col__right">
        <h1 class="title"><i>#{{pokemon.id}}</i> - {{ pokemon?.name | titlecase }}</h1>
        <span *ngFor="let item of pokemon?.types" class="title__types">
          <img class="icon" src="../../assets/icons/{{item.type?.name}}.png" alt="">
          <span> - {{ item.type?.name }} </span>
        </span>
      </div>
    </div>
    <div class="container__stats">
      <div *ngFor="let poke of pokemon?.stats" class="stats__box">
          <div class="stats">
            <p>{{poke?.stat?.name}}</p>
            <img src="../../assets/icons/{{poke?.stat?.name}}.png" alt="">
            <p>{{poke?.base_stat}}</p>
          </div>
      </div>
    </div>
  </div>
</div>
